@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: #3f6866;
    --laranja: #022704;
    --azul-degrade: linear-gradient(97.54deg, #888a84 35.49%, #ffee00 165.37%);
    --fonte-principal: "Poppins";
    --azul: #302747;
    --fonte-secundario: "Josefin Sans";
    --preto: #f831d7;
    --cinza: #d3940d;
    --cinza-claro: #633333;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}